# Ignore Python venvs
.venv/
venv/
**/venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore logs and zips
*.log
*.zip
*.md.zip

# Ignore site-packages
**/Lib/
**/Scripts/
**/Include/

# Ignore any dist-info garbage
**/*.dist-info/

# Ignore IDE/editor config
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db